{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <div class="col-md-8 col-sm-12" id="lenta">
	    <br><br>
		    <div class="list-group">
                {% for obj in items %}
                    {{ obj.check_active_status|default_if_none:'' }}
			    <a href="{% url 'poll' obj.pk %}" class="list-group-item list-group-item-action">
				    <div class="row">
					    <div class="col-12">
						    <h5>{{ obj.title }}</h5>
                            <div class="row">
                                <div class="col-md-3 col-sm-6" id="status">Статус:<label class="_status">{{ obj.status }}</label></div>
                                <div class="col-md-3 col-sm-6" id="ppl_voted">Проголосувало:<label><b>{{ obj.vote_count }}</b></label></div>
                                <div class="col-md-3 col-sm-6" id="comment"><img src="{% static 'images/comment.png' %}" id="ico_img"><label>{{obj.get_comment_count}}</label></div>
							    <div class="col-md-3 col-sm-6"id="date"><label id="from_date">{{ obj.date }}</label><label> --- </label><label id="to_date">{{ obj.final_date }}</label></div>
						    </div>
					    </div>
				    </div>
			    </a>
                {% endfor %}
		    </div>

	</div>
    <div class="col-md-4 col-sm-12" id="hot_list">
        <br>
            <h4 style="color: darkred; text-align: center;">Гаряче</h4>
            <div class="list-group">
                 {% for obj in hot %}
			    <a href="{% url 'poll' obj.pk %}" class="list-group-item list-group-item-action">
				    <div class="row">
					    <div class="col-12">
						    <h5>{{ obj.title }}</h5>
                            <div class="row">
                                <div class="col-6" id="status">Статус:<label class="_status">{{ obj.status }}</label></div>
                                <div class="col-6" id="ppl_voted">Проголосувало:<label><b>{{ obj.vote_count }}</b></label></div>
                                <div class="col-6" id="comment"><img src="{% static 'images/comment.png' %}" id="ico_img"><label>{{obj.get_comment_count}}</label></div>
                                <div class="col-6" id="date"><label id="from_date">{{ obj.date }}</label><label> --- </label><label id="to_date">{{ obj.final_date }}</label></div>
                            </div>
					    </div>
				    </div>
			    </a>
                {% endfor %}
		    </div>

     </div>

{% endblock%}