{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <div class="col-md-8 col-sm-12" id="lenta">
	    <br><br>
		    <div class="list-group">
                {% for obj in items %}
                    {{ obj.check_active_status|default_if_none:'' }}
			    <a href="{% url 'poll' obj.pk %}" class="list-group-item list-group-item-action">
				    <div class="row">
					    <div class="col-12">
						    <h5>{{ obj.title }}</h5>
                            <div class="row">
                                <div class="col-md-3 col-sm-6" id="status">Статус:<label class="_status">{{ obj.status }}</label></div>
                                <div class="col-md-3 col-sm-6" id="ppl_voted">Проголосувало:<label><b>{{ obj.vote_count }}</b></label></div>
                                <div class="col-md-3 col-sm-6" id="comment"><img src="{% static 'images/comment.png' %}" id="ico_img"><label>{{obj.get_comment_count}}</label></div>
							    <div class="col-md-3 col-sm-6"id="date"><label id="from_date">{{ obj.date }}</label><label> --- </label><label id="to_date">{{ obj.final_date }}</label></div>
						    </div>
					    </div>
				    </div>
			    </a>
                {% endfor %}
		    </div>
	</div>

    <div class="col-md-4 col-sm-12" id="hot_list">
        <br>
            <h4 style="color: darkred; text-align: center;">Гаряче</h4>
            <div class="list-group">
                 {% for obj in hot %}
			    <a href="{% url 'poll' obj.pk %}" class="list-group-item list-group-item-action">
				    <div class="row">
					    <div class="col-12">
						    <h5>{{ obj.title }}</h5>
                            <div class="row">
                                <div class="col-6" id="status">Статус:<label class="_status">{{ obj.status }}</label></div>
                                <div class="col-6" id="ppl_voted">Проголосувало:<label><b>{{ obj.vote_count }}</b></label></div>
                                <div class="col-6" id="comment"><img src="{% static 'images/comment.png' %}" id="ico_img"><label>{{obj.get_comment_count}}</label></div>
                                <div class="col-6" id="date"><label id="from_date">{{ obj.date }}</label><label> --- </label><label id="to_date">{{ obj.final_date }}</label></div>
                            </div>
					    </div>
				    </div>
			    </a>
                {% endfor %}
		    </div>

     </div>

    {% if items.has_other_pages %}
        <nav class="col-12"style="padding-top: 2%;">
          <ul class="pagination justify-content-center">
            {% if items.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev</a></li>
            {% endif %}
            {% for i in items.paginator.page_range %}
              {% if items.number == i %}
                  <li class="page-item active."><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if items.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
            {% endif %}
          </ul>
        </nav>
{% endif %}
{% endblock%}