{% extends "base.html" %}
{% load i18n %}

{% block poll_script %}
<script type="text/javascript">
var vote_url = '{% url "poll_ajax_vote" poll.pk %}';
var result_url = '{% url "poll_result" poll.pk %}';
document.addEventListener('DOMContentLoaded', function(){
    function showResults() {
        $.get(result_url, function(data) {
            $("#poll_container").html(data);
        });
    }
    $("#poll_send").click(function() {
        var item = $('#poll_form input[name=item]:checked').val();
        location.reload();
        if (typeof item === "undefined") {
            alert("{% trans 'Please, select an answer' %}");
            return false;
        }
        $.get(vote_url, {item: item}, function() {
            showResults();
        });
        return false;
    });
});

$(window).bind('resize',function(){
    if($(window).innerWidth() <= 1000)
    {
        document.getElementById("poll_title").style.paddingLeft = "10%";
        document.getElementById("poll_title").style.paddingRight = "10%";
        document.getElementById("choices").style.paddingLeft = "10%";
        document.getElementById("choices").style.paddingRight = "10%";
        document.getElementById("vote_bttn").style.paddingLeft = "10%";
        document.getElementById("vote_bttn").style.paddingRight = "10%";
    }
    if($(window).innerWidth() > 1000)
    {
        document.getElementById("poll_title").style.paddingLeft = "30%";
        document.getElementById("poll_title").style.paddingRight = "30%";
        document.getElementById("choices").style.paddingLeft = "30%";
        document.getElementById("choices").style.paddingRight = "30%";
        document.getElementById("vote_bttn").style.paddingLeft = "30%";
        document.getElementById("vote_bttn").style.paddingRight = "30%";
    }
});
</script>
{% endblock %}

{% block body %}
    <div class="container">
    <br>
    <form method="GET" action="." id="poll_form">
        <h4 style="padding-left:30%; padding-right: 30%" id="poll_title" class="title">{{ poll.title }}</h4>
        <p style="padding-left:30%; padding-right: 30%">{{ poll.description }}</p>
        <br>
        <ul style="list-style-type: none; margin: auto; padding-left:30%; padding-right: 30%" id="choices">
            {% for i in items %}
            <li>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="item" id="item_{{ i.id }}" value="{{ i.id }}" />
                    <label class="custom-control-label" for="item_{{ i.id }}">{{ i.value }}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
        <br>
        <p id="vote_bttn" class="poll_send" style="margin: auto; padding-bottom:1%; padding-left:30%; padding-right: 30%;">
            <input type="button" class="btn btn-outline-primary" id="poll_send" value="{% trans 'Vote' %}" />
        </p>
    </form>
    </div>

    <br>
<hr>
{% if comments %}
<div class="col-12" id="comments" style="width: 50%;margin: 0 auto; padding-left: 10%; padding-right: 10%;">
{{ comments.count }} comment{{ comments|pluralize }}
    {% for comment in comments %}
        <div>
            <div style="color: midnightblue;">by <b>{{ comment.user}}</b> <span style="font-size: 0.75em; float:right;">{{ comment.timestamp }}</span></div>
            <p class="mb-0">{{ comment.content }}</p>
        </div>
        <hr>
    {% endfor %}

{% else %}
    No comments.
{% endif %}
</div>>

{% endblock %}


