{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<div class="container" id="usr">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<img id="usr_image" src="{% static 'images/user_ico.png' %}" style="width: 100%;height: auto;"/>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="row">
					<div class="col-11">
						<label id="login" style="font-size:140%;"><b>{{ user.username}}</b></label>
					</div>
                    {% if request.user.username == user.username %}
					<div class="col-1" id="ico_img" ><a href="{% url 'kursova:user_settings'%}" style="opacity: 0.7;"><img src="{% static 'images/settings.png' %}" style="height: 25px;"></a></div>
                    {% endif %}
				</div>
				<div class="row">
					<div class="col-12">Name: <b>{{ user.first_name }}</b></div>
					<div class="col-12">Surname: <b>{{ user.last_name }}</b></div>
                    <div class="col-12">E-mail: <b>{{ user.email }}</b></div>
                     {% if request.user.username == user.username %}
                         <div class="col-12">Birth date: <b>{{ profile.birth_date }}</b></div>
                         <div class="col-12">Sex: <b>{{ profile.sex }}</b></div>
                         <div class="col-12">Country: <b>{{ profile.country.name}}</b></div>
                         <div class="col-12">City: <b>{{ profile.city }}</b></div>
                    {% endif %}
				</div>
			</div>
		</div>
        <br><br>

        <h3>{{ user.username }}'s comments</h3>
        <div class="container" id="users_comments" style="height:70vh; overflow-y: auto;">
             {% for comment in comments %}
            <div class="row" style="border: 1px solid black;border-radius: 5px; margin-bottom: 1%;padding-left: 1%; padding-right: 1%;">
                <div class="col-12">
                    <div class="row">
                        <a href="{% url 'poll' comment.poll.pk %}"><h5>{{ comment.poll}}</h5></a>  <p style="font-size: 0.7em; color:red;">  {{ comment.timestamp }}</p>
                        {% if request.user.username == user.username %}
                        <a href="{% url 'kursova:comment_delete' comment.pk %}" onclick="return confirm('Do you really want to delete this comment?')" style="position:absolute; right: 0;"><img src="{% static 'images/delete.png' %}" style="height: 15px;"></a>
                        {% endif %}
                    </div>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="loading" style="display: none;">
                Loading...
            </div>
            {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ comments.next_page_number }}">More</a>
            {% endif %}
        </div>
	</div>

</div>

    <script>


  /*

		var fileReader = new FileReader();
var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

fileReader.onload = function (event) {
  var image = new Image();

  image.onload=function(){
      document.getElementById("original-Img").src=image.src;
      var canvas=document.createElement("canvas");
      var context=canvas.getContext("2d");
	  if(image.width <=image.height)
	  {
      canvas.width=image.width;
      canvas.height=canvas.width;

	  context.drawImage(image,
          0,
          0,
          image.width,
          image.width,
          0,
          0,
          canvas.width,
          canvas.height
      );
	  }
	  if(image.width > image.height)
	  {
      canvas.width = image.height;
      canvas.height = image.height;

      context.drawImage(image,
          0 + canvas.width/4,
          0,
          image.height,
          image.height,
          0,
          0,
          canvas.width,
          canvas.height
      );
      }
      document.getElementById("upload-Preview").src = canvas.toDataURL();
  }
  image.src=event.target.result;
};

var loadImageFile = function () {
    var uploadImage = document.getElementById("upload-Image");

    //check and retuns the length of uploded file.
    if (uploadImage.files.length === 0) {
        return;
    }

    //Is Used for validate a valid file.
    var uploadFile = document.getElementById("upload-Image").files[0];
    if (!filterType.test(uploadFile.type)) {
        alert("Please select a valid image.");
        return;
    }

    fileReader.readAsDataURL(uploadFile);
}
 document.getElementById("usr").onload = loadImageFile();
 */
    </script>
{% endblock %}