{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    	<div class="container" style="background-color:rgb(0, 0, 0);  padding-bottom: 20px;">
		<div class="row">
			<div class="col-11">
				<h2 style="color:white;">{{ post.title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-7" id="userName"><h6 style="color:#d5d9e0;"><a href="#" style="color:#d5d9e0;">dupkoauthor</a></h6></div>
			<!--{% if post.author == request.user or request.user.is_staff  %}-->
			<div class="col-1"  id="comment" style="height: 25px;"><a  href="#"><img src="{% static 'images/edit.png' %}" style= "width: auto;height: 100%;opacity: 0.7;"></a></div>
			<div class="col-1"  id="comment" style="height: 25px; float:right"><a href="#"><img src="{% static 'images/delete.png' %}" style="width: auto;height: 100%;opacity: 0.8;"></a></div>
			<!--{% endif %}-->
			<div class="col-1"><label class="_status">{{ post.status }}</label></div>
			<div class="col-2" style="font-size:12px;text-align: right; color:white;">published at: <label style="font-style:italic; color:red;">{{ post.created }}</label></div>
		</div>
		
		<div class="row">
			<div class="col-12" style="background-color:white; padding: 20px 20px 20px 20px;">
				<p>{{ post.body|linebreaks }}  </p>
			</div>
		</div>
        </div>
{% endblock %}